:host {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    padding: 5px;
  }

  .currency-option {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;

    font-family: Roboto, serif;
    font-size: 0.9em;
  }

  .currency-icon {
    width: 20px;
    height: 20px;
  }
}
