/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #007bff;
  --p-05: color-mix(in srgb, var(--primary) 10%, white);
  --p-10: color-mix(in srgb, var(--primary) 20%, white);
  --p-20: color-mix(in srgb, var(--primary) 40%, white);
  --p-30: color-mix(in srgb, var(--primary) 60%, white);
  --p-40: color-mix(in srgb, var(--primary) 80%, white);
  --p-50: var(--primary);
  --p-60: color-mix(in srgb, var(--primary) 80%, black);
  --p-70: color-mix(in srgb, var(--primary) 60%, black);
  --p-80: color-mix(in srgb, var(--primary) 40%, black);
  --p-90: color-mix(in srgb, var(--primary) 20%, black);
  --p-95: color-mix(in srgb, var(--primary) 10%, black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
